* {
  box-sizing: border-box;
}
header{
	display: flex;
	align-items: center;
	flex-direction: column;
  	width:100%;
  	padding: 10px;
}
header p,h1{
	padding:5px 0 0 0;
	margin:0;
}
body {
  margin: 0;
  padding-top: 90px;
}
.main-nav,
.main {
  position: relative; 
}
.main-nav {
	z-index: 150;
	box-shadow: 0px 2px 3px rgba(7, 0, 125, 0.4);
	border-radius: 0px;
	margin-bottom: -50px;
	background-color: rgb(63, 31, 125);
	border-color: #530078;
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  color: #5200C8;
}
.main {
  background: #f2f2e8;
  padding: 50px;
}
.active>a{
	background-color: #00f;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #FFF;
}
navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(96, 0, 174);
}
.navbar-inverse .navbar-toggle {
    border-color: #AA1CF5;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(126, 0, 192);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFED64;
    background-color: transparent;
}
.social{
	position: relative;
}
.social li{
	margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}
.social li,.social li a{
	height: 100px;
    display: block;
}
.fb{
	left: 0px;
    width: 100px;
    background: url('../img/social.png') 0 0;
}
.google{
	left: 100px;
    width: 100px;
    background: url('../img/social.png') 100px 0;
}
.twitter{
	left: 200px;
    width: 100px;
    background: url('../img/social.png') -100px 0;
}
.youtube{
	left: 300px;
    width: 100px;
    background: url('../img/social.png') -200px 0;
}
.instagram{
	left: 400px;
    width: 100px;
    background: url('../img/social.png') -300px 0;
}
.fb:hover{
    background: url('../img/social.png') 0 99px;
}
.google:hover{
    background: url('../img/social.png') 100px 99px;
}
.twitter:hover{
    background: url('../img/social.png') -100px 99px;
}
.youtube:hover{
    background: url('../img/social.png') -200px 99px;
}
.instagram:hover{
    background: url('../img/social.png') -300px 99px;
}