* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.main-nav,
.main {
	position: relative; 
}
.main-nav {
	z-index: 150;
	box-shadow: 0px 2px 3px rgba(7, 0, 125, 0.4);
	border-radius: 0px;
	margin-bottom: -50px;
	background-color: rgb(63, 31, 125);
	border-color: #530078;
}
header,
.main-nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;
	color: #5200C8;
}
.main {
	background: #f2f2e8;
	padding: 50px;
}
.active>a{
	background-color: #00f;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #FFF;
}
navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(96, 0, 174);
}
.navbar-inverse .navbar-toggle {
    border-color: #AA1CF5;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgb(126, 0, 192);
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFED64;
    background-color: transparent;
}
.icon{

}
.Social{
	position: relative;
}
.Social li{
	margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    height: 48px;
	width: 48px;
}
.Social li,.Social li a{
    display: block;
    border-radius: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
}
.fb{
	left: 0;
    background: url('../img/social.png') -48px 0;
}
.google{
	left: 48px;
    background: url('../img/social.png') -96px 0;
}
.twitter{
	left: 96px;
    background: url('../img/social.png') 0 0;
}
.linkedin{
	left: 144px;
    background: url('../img/social.png') -144px 0;
}
.instagram{
	left: 192px;
    background: url('../img/social.png') -240px 0;
}
.fb:hover{
    animation-name:	fb-hover-effect;
    animation-duration: 0.3s;
    background: url('../img/social.png') -48px 48px;
    opacity: 1;
}
@keyframes fb-hover-effect {
    from {background: url('../img/social.png') -48px 0px;}
    to {background: url('../img/social.png') -48px 48px;}
}
.google:hover{
	animation-name:	g-hover-effect;
    animation-duration: 0.3s;
    background: url('../img/social.png') -96px 48px;
    opacity: 1;
}
@keyframes g-hover-effect {
    from {background: url('../img/social.png') -96px 0px;}
    to {background: url('../img/social.png') -96px 48px;}
}
.twitter:hover{
	animation-name:	t-hover-effect;
    animation-duration: 0.3s;
    background: url('../img/social.png') 0px 48px;
    opacity: 1;
}
@keyframes t-hover-effect {
    from {background: url('../img/social.png') 0px 0px;}
    to {background: url('../img/social.png') 0px 48px;}
}
.linkedin:hover{
    animation-name:	l-hover-effect;
    animation-duration: 0.3s;
    background: url('../img/social.png') -144px 48px;
    opacity: 1;
}
@keyframes l-hover-effect {
    from {background: url('../img/social.png') -144px 0px;}
    to {background: url('../img/social.png') -144px 48px;}
}
.instagram:hover{
	animation-name:	I-hover-effect;
    animation-duration: 0.3s;
    background: url('../img/social.png') -240px 48px;
    opacity: 1;
}
@keyframes I-hover-effect {
    from {background: url('../img/social.png') -240px 0px;}
    to {background: url('../img/social.png') -240px 48px;}
}
.row {
    margin:	0;
}
@media screen and (min-width: 480px) {
    .icon {
	    position: absolute;
	    right: 240px;
	    top: 35px;
	}
}
div.fullheight{
	height: 100vh;
	background-color: rgba(50,50,50,1);
}